@font-face {
    font-family: "Beleren Small Caps";
    src: url(/fonts/Beleren\ Small\ Caps.ttf);
  }
  
*{
    font-family:"Beleren Small Caps", verdana,tahoma,sans-serif;
}
body{
    margin: 0px;
    background-color: #6e685e;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F7F7F2;
    font-size: 2rem;
    height: 10vh;
    background-color: #574D68;
}

h2{
    margin-right: auto;
    margin-left: 2vw;
    margin-top: 2vh;
}

main{
    margin-bottom: 283px;
}

#navList{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    list-style-type: none;   
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 2rem;
}

.navLink{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}

.menu{
    align-self: center;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    text-decoration: none;
}
a:link{
    color:rgb(71, 41, 121);
}
a:visited{
    color:rgb(0, 0, 0);
}
a:hover{
    background-color:rgb(0, 0, 0);
}
a:active{
    color:rgb(79, 51, 128);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F7F7F2;
    font-size: 2rem;
    background-color: #574D68;
    margin-top: 10px;
}


@media screen and (max-width: 1000px) {
    header{
        font-size: 1.5rem;
        height: 20vh;
    }
    #navList{
        font-size: 1.5rem;
        flex-wrap: wrap;
    }

    .sectionText{
        font-size: 1px;
    }
}

@media screen and (max-width: 480px) {
    header{
        font-size: 1rem;
        height: 20vh;
    }

    h2{
        margin-top: 5%;
        margin-right: 2vw;
    }
    #navList{
        width: 90%;
        font-size: 1rem;
        flex-shrink: 1;
        flex-wrap: wrap;
    }
    footer{
        font-size: 1.5rem;
    }
}

