

h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3vw; 
}
.mainIcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
}
.intro{
    
}
