colors{
    color: #222222;
    color: #FFFFFF;
    color: #ACB0BD;
    color: #000000;
    color: #EFF7FF;
    /*background-color:  rgb(215, 226, 236);*/
}

html{
    background-color: rgb(215, 226, 236);
}
